p {
	margin-bottom: 0px !important;
	color: #d4d4d4;
}

a {
	color: white !important;
	text-decoration: none !important;
}

h1 {
	color: #4ec9b0 !important;
}

body,
html {
	background-color: #121212;
}

html {
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
	scroll-padding-top: 80px;
}

section {
	height: 100vh;
	scroll-snap-align: start;
	scroll-snap-stop: always;
}

.main-container {
	font-family: "Source Code Pro", monospace;
	background-color: #121212;
}

#profile {
	padding-top: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile-graphic-container {
	position: absolute;
	top: 80px;
	right: 0px;
	height: calc(100vh - 80px);
	width: 30vw;
}

.profile-image-overlay {
	height: 100%;
	width: 100%;
	background: linear-gradient(
			to right,
			rgba(18, 18, 18, 1) 10%,
			rgba(18, 18, 18, 0.75) 35%,
			rgba(18, 18, 18, 0.5) 60%,
			rgba(18, 18, 18, 0.25) 85%,
			rgba(18, 18, 18, 0) 100%
		),
		url("graphic.jpg") no-repeat center center / cover;
}

.profile-about {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
	justify-content: center;
	text-align: justify;
	z-index: 2;
}

.profile-text-name {
	color: #6a5acd;
	font-size: 42px;
	font-weight: bold;
}

.profile-text-highlight {
	color: #4ec9b0;
}

.profile-about p {
	font-size: 30px;
}

.profile-text {
	width: 40vw;
}

#navbar {
	background-color: #1e1e1e;
	display: flex;
	height: 80px;
	width: 100%;
	margin: 0;
	padding: 10px;
	padding-right: 3vw;
	padding-left: 3vw;
	position: fixed;
	align-items: center;
	justify-content: space-between;
	z-index: 100;
}

.navbar-options {
	margin-right: 10px;
	font-family: "Source Code Pro", monospace;
	font-size: 14px !important;
}

/* From Uiverse.io by mrhyddenn */
.scrolldown {
	--color: white;
	--sizeX: 30px;
	--sizeY: 50px;
	position: absolute;
	width: var(--sizeX);
	height: var(--sizeY);
	margin-left: var(sizeX / 2);
	border: calc(var(--sizeX) / 10) solid var(--color);
	border-radius: 50px;
	box-sizing: border-box;
	margin-bottom: 16px;
	cursor: pointer;
	top: 88vh;
	left: 50%;
	transform: translateX(-50%);
}

.scrolldown::before {
	content: "";
	position: absolute;
	bottom: 30px;
	left: 50%;
	width: 6px;
	height: 6px;
	margin-left: -3px;
	background-color: var(--color);
	border-radius: 100%;
	animation: scrolldown-anim 2s infinite;
	box-sizing: border-box;
	box-shadow: 0px -5px 3px 1px #2a547066;
}

@keyframes scrolldown-anim {
	0% {
		opacity: 0;
		height: 6px;
	}

	40% {
		opacity: 1;
		height: 10px;
	}

	80% {
		transform: translate(0, 20px);
		height: 10px;
		opacity: 0;
	}

	100% {
		height: 3px;
		opacity: 0;
	}
}

.chevrons {
	padding: 6px 0 0 0;
	margin-left: -3px;
	margin-top: 48px;
	width: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.chevrondown {
	margin-top: -6px;
	position: relative;
	border: solid var(--color);
	border-width: 0 3px 3px 0;
	display: inline-block;
	width: 10px;
	height: 10px;
	transform: rotate(45deg);
}

.chevrondown:nth-child(odd) {
	animation: pulse54012 500ms ease infinite alternate;
}

.chevrondown:nth-child(even) {
	animation: pulse54012 500ms ease infinite alternate 250ms;
}

@keyframes pulse54012 {
	from {
		opacity: 0;
	}

	to {
		opacity: 0.5;
	}
}

.nav-link.active {
	color: #00ff00 !important;
	font-size: 20px !important;
}

.navbar-right {
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo {
	background-color: #2b2b2b;
}

.profile-links-container {
	margin-top: 25px;
}

.links {
	margin-right: 15px;
	opacity: 0.4;
}

.links:hover {
	opacity: 1;
}

.sidebar {
	position: fixed;
	display: flex;
	flex-direction: column;
	top: 80vh;
	right: 2vw;
	z-index: 10;
}

.sidebar-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.sidebar-container {
	margin-bottom: 10px;
	position: relative;
	cursor: pointer;
	font-size: 10px;
	width: 2em;
	height: 2em;
	user-select: none;
	border: 3px solid white;
	display: block;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.checkmark:after {
	content: "";
	position: absolute;
	top: 25%;
	left: 25%;
	background-color: white;
	width: 50%;
	height: 50%;
	transform: scale(0);
	transition: 0.1s ease;
}

.sidebar-container input:checked ~ .checkmark:after {
	transform: scale(1);
}

.loader {
	width: 2rem;
	height: 2rem;
	clear: both;
	border: 0.0625rem #000 solid;
	border-radius: 0.25rem;
	overflow: hidden;
	position: relative;
	background-color: white;
}

.loader:after,
.loader:before {
	content: "";
	border-radius: 50%;
	position: absolute;
	width: inherit;
	height: inherit;
	animation: spVortex 2s infinite linear;
}

.loader:before {
	border-top: 0.375rem #000 solid;
	top: -0.1875rem;
	left: calc(-50% - 0.1875rem);
	transform-origin: right center;
}

.loader:after {
	border-bottom: 0.375rem #000 solid;
	top: 0.1875rem;
	right: calc(-50% - 0.1875rem);
	transform-origin: left center;
}

@keyframes spVortex {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(359deg);
	}
}

#about {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	background-color: #2f4f4f;
	height: calc(100vh - 80px);
}

.about-box {
	width: 40vw;
	height: auto;
	background-color: #2b2b2b;
	padding: 30px;
}

.about-box p {
	color: #e5e5e5;
	font-size: 16px;
	text-align: justify;
}

.about-box h4 {
	color: #6a5acd;
	font-size: 30px;
	font-weight: bold;
}

.about-box span {
	color: #6a5acd;
	font-weight: bold;
}

#projects {
	background-color: #1e2134;
	width: 100%;
	height: calc(100vh - 80px);
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}

.projects-bunpofy {
	display: flex;
	justify-content: space-between;
	margin-left: 5%;
	margin-right: 5%;
}

.projects-img {
	margin-top: 20px;
	width: 40vw;
}

.projects-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 40vw;
	height: auto;
}

.projects-link {
	display: flex;
}

.projects-link img {
	width: 25px;
	height: 25px;
	margin-right: 10px;
}

.projects-info h4 {
	color: #6a5acd;
	font-weight: bold;
}

.projects-info h5 {
	color: white;
}

.projects-languages {
	display: flex;
	flex-wrap: wrap;
	margin-top: 5px;
}

.projects-languages p {
	padding: 4px 12px 4px 12px;
	margin: 5px;
	background-color: rgba(45, 212, 191, 0.1);
	color: rgba(45, 212, 191);
	border-radius: 20px;
}

.projects-fantasy-fleet {
	display: flex;
	justify-content: space-between;
	margin-left: 5%;
	margin-right: 5%;
}

.projects-fantasy-fleet h4 {
	color: #6a5acd;
}

.projects-img {
	margin-top: 20px;
	width: 40vw;
}

.about-coffee-container {
	width: 300px;
	height: 280px;
	position: relative;
}
.coffee-header {
	width: 100%;
	height: 80px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #ddcfcc;
	border-radius: 10px;
}
.coffee-header__buttons {
	width: 25px;
	height: 25px;
	position: absolute;
	top: 25px;
	background-color: #282323;
	border-radius: 50%;
}
.coffee-header__buttons::after {
	content: "";
	width: 8px;
	height: 8px;
	position: absolute;
	bottom: -8px;
	left: calc(50% - 4px);
	background-color: #615e5e;
}
.coffee-header__button-one {
	left: 15px;
}
.coffee-header__button-two {
	left: 50px;
}
.coffee-header__display {
	width: 50px;
	height: 50px;
	position: absolute;
	top: calc(50% - 25px);
	left: calc(50% - 25px);
	border-radius: 50%;
	background-color: #9acfc5;
	border: 5px solid #43beae;
	box-sizing: border-box;
}
.coffee-header__details {
	width: 8px;
	height: 20px;
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: #9b9091;
	box-shadow: -12px 0 0 #9b9091, -24px 0 0 #9b9091;
}
.coffee-medium {
	width: 90%;
	height: 160px;
	position: absolute;
	top: 80px;
	left: calc(50% - 45%);
	background-color: #bcb0af;
}
.coffee-medium:before {
	content: "";
	width: 90%;
	height: 100px;
	background-color: #776f6e;
	position: absolute;
	bottom: 0;
	left: calc(50% - 45%);
	border-radius: 20px 20px 0 0;
}
.coffe-medium__exit {
	width: 60px;
	height: 20px;
	position: absolute;
	top: 0;
	left: calc(50% - 30px);
	background-color: #231f20;
}
.coffe-medium__exit::before {
	content: "";
	width: 50px;
	height: 20px;
	border-radius: 0 0 50% 50%;
	position: absolute;
	bottom: -20px;
	left: calc(50% - 25px);
	background-color: #231f20;
}
.coffe-medium__exit::after {
	content: "";
	width: 10px;
	height: 10px;
	position: absolute;
	bottom: -30px;
	left: calc(50% - 5px);
	background-color: #231f20;
}
.coffee-medium__arm {
	width: 70px;
	height: 20px;
	position: absolute;
	top: 15px;
	right: 25px;
	background-color: #231f20;
}
.coffee-medium__arm::before {
	content: "";
	width: 15px;
	height: 5px;
	position: absolute;
	top: 7px;
	left: -15px;
	background-color: #9e9495;
}
.coffee-medium__cup {
	width: 80px;
	height: 47px;
	position: absolute;
	bottom: 0;
	left: calc(50% - 40px);
	background-color: #fff;
	border-radius: 0 0 70px 70px / 0 0 110px 110px;
}
.coffee-medium__cup::after {
	content: "";
	width: 20px;
	height: 20px;
	position: absolute;
	top: 6px;
	right: -13px;
	border: 5px solid #fff;
	border-radius: 50%;
}
@keyframes liquid {
	0% {
		height: 0px;
		opacity: 1;
	}
	5% {
		height: 0px;
		opacity: 1;
	}
	20% {
		height: 62px;
		opacity: 1;
	}
	95% {
		height: 62px;
		opacity: 1;
	}
	100% {
		height: 62px;
		opacity: 0;
	}
}
.coffee-medium__liquid {
	width: 6px;
	height: 63px;
	opacity: 0;
	position: absolute;
	top: 50px;
	left: calc(50% - 3px);
	background-color: #74372b;
	animation: liquid 4s 4s linear infinite;
}
.coffee-medium__smoke {
	width: 8px;
	height: 20px;
	position: absolute;
	border-radius: 5px;
	background-color: #b3aeae;
}
@keyframes smokeOne {
	0% {
		bottom: 20px;
		opacity: 0;
	}
	40% {
		bottom: 50px;
		opacity: 0.5;
	}
	80% {
		bottom: 80px;
		opacity: 0.3;
	}
	100% {
		bottom: 80px;
		opacity: 0;
	}
}
@keyframes smokeTwo {
	0% {
		bottom: 40px;
		opacity: 0;
	}
	40% {
		bottom: 70px;
		opacity: 0.5;
	}
	80% {
		bottom: 80px;
		opacity: 0.3;
	}
	100% {
		bottom: 80px;
		opacity: 0;
	}
}
.coffee-medium__smoke-one {
	opacity: 0;
	bottom: 50px;
	left: 102px;
	animation: smokeOne 3s 4s linear infinite;
}
.coffee-medium__smoke-two {
	opacity: 0;
	bottom: 70px;
	left: 118px;
	animation: smokeTwo 3s 5s linear infinite;
}
.coffee-medium__smoke-three {
	opacity: 0;
	bottom: 65px;
	right: 118px;
	animation: smokeTwo 3s 6s linear infinite;
}
.coffee-medium__smoke-for {
	opacity: 0;
	bottom: 50px;
	right: 102px;
	animation: smokeOne 3s 5s linear infinite;
}
.coffee-footer {
	width: 95%;
	height: 15px;
	position: absolute;
	bottom: 25px;
	left: calc(50% - 47.5%);
	background-color: #41bdad;
	border-radius: 10px;
}
.coffee-footer::after {
	content: "";
	width: 106%;
	height: 26px;
	position: absolute;
	bottom: -25px;
	left: -8px;
	background-color: #000;
}

#tech-stack {
	height: calc(100vh - 80px);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#tech-stack h1 {
	color: #6a5acd !important;
	margin-bottom: 2vh !important;
}

#tech-stack img {
	width: 100px;
	margin: 20px;
}

.tech-stack-img-container {
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	background-color: rgba(46, 58, 70, 0.6);
	width: 50vw;
}

@media only screen and (max-width: 1117px) {
	.about-box {
		width: 50vw;
	}
}

@media only screen and (max-width: 913px) {
	html {
		scroll-snap-type: none;
		scroll-padding-top: 0px;
	}
	section {
		height: auto;
	}
	#profile {
		height: auto;
		flex-direction: column;
		justify-content: start;
	}

	.scrolldown {
		display: none;
	}
	.sidebar {
		display: none;
	}

	.profile-graphic-container {
		position: static;
		height: 50vh;
		width: 100%;
	}

	.profile-image-overlay {
		width: 100%;
		height: 100%;
		background: linear-gradient(
				to bottom,
				rgba(18, 18, 18, 1) 10%,
				rgba(18, 18, 18, 0.75) 35%,
				rgba(18, 18, 18, 0.5) 60%,
				rgba(18, 18, 18, 0.25) 85%,
				rgba(18, 18, 18, 0) 100%
			),
			url("graphic.jpg") no-repeat center center / cover;
	}

	.profile-about {
		flex-grow: 0;
		margin-top: 10vh;
		margin-bottom: 10vh;
	}

	#about {
		flex-direction: column;
		height: auto;
		padding: 8vh;
	}
	.about-coffee-container {
		margin-bottom: 5vh;
	}
	.about-box {
		width: 80vw;
	}
	#projects {
		height: auto;
		padding: 8vh;
	}
	.projects-bunpofy {
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin-bottom: 8vh;
	}
	.projects-info {
		margin-top: 2vh;
		width: 80vw;
		order: 2;
	}
	.projects-fantasy-fleet {
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.projects-img {
		width: 80vw;
		order: 1;
	}
	#tech-stack {
		padding: 8vh;
	}
	.tech-stack-img-container {
		width: 70vw;
	}
}

@media only screen and (max-width: 763px) {
	.navbar-options {
		margin-right: 5px;
		font-size: 12px !important;
	}
	.profile-text-name {
		font-size: 32px;
	}
	.profile-about p {
		font-size: 20px;
	}
	.profile-text {
		width: 70vw;
	}
	.about-box p {
		font-size: 14px;
	}
	.about-box h4 {
		font-size: 20px;
	}
	#tech-stack {
		padding: 8vh;
	}
	#tech-stack img {
		width: 80px;
		margin: 10px;
	}
	.about-coffee-container {
		width: 280px;
	}
	.coffee-medium__arm::before {
		left: -9px;
	}
}

@media only screen and (max-width: 467px) {
	#tech-stack img {
		width: 60px;
		margin: 10px;
	}
}
